<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTracking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style = "background-color: #DFD9E2;">
  <!-- heading & navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: #C3ACCE;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <div class="container text-center ">
              <div class="row">
                <div class="col">
                  <%= link_to "Home" , "pages/home" %>
                </div>
                <div class="col">
                  <%= link_to "Contact" , "pages/contact" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </nav>
  <!-- end of heading & navbar -->


    
    <%= yield %>
  </body>
</html>
